$color-red: #df0024;

/*FONDO*/
body {
	background-color: white;
	font-family: 'Saira Condensed', sans-serif;
}
 

.SANKAMILAN {
  font-family: 'Bangers', cursive;
  font-size: 80px;
  display: inline-flex;
  text-align: center;
  padding: 14px 100px;
  color: $color-red; 
  background-color: black;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-around;
   a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-top: 4px;
  }
}

.navbar a:hover {
  text-decoration: none;
  color: $color-red;
}

.portada {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.preguntasfrecuentes {
  font-size: 26px;
  color: $color-red;
  margin-bottom: 5px;
  margin-top: 20px;
} 

.respuestasfrecuentes {
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}

h1 {
	color: $color-red;
	font-size: 30px;
	text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 30px;
  margin-left: 30px;
}

h2 {
  font-size: 16px;
  color: $color-red;
}

h6 {
  font-size: 18px;
  margin:5px;
}

p {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* SECCION DE FOTOS */
.flexbox1 {
	display: flex;
	flex-direction: row;
	width: 100%;
  justify-content: space-around;
}

/*COLUMNAS CONTENIDO*/
.flexbox2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.flexbox3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  margin: 20px;
}

.links1 {
  font-family: 'Bangers', cursive;
  font-size: 35px;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  background-color: black;
}

.links1:hover { 
	color: black; 
	text-decoration: none;
  background-color: #FF0000;
}

.links2 {
  color: white;
  text-decoration: none;
  margin-top: 3px;
  margin-bottom: 3px;
}

.links2:hover {
  color: #ff0000;
}

.links3 {
  color: black;
  display: inline-flex;
  font-size: 20px;
}

/* TAMAÑO DE IMAGENES */
.fotosportada {
	width: 350px;
  height: 450px;
  border: 8px solid #8f4426;
}

.fotosseccion {
	width: 300px;
  height: 300px;
  border: solid black 3px;
}

.imagencontacto {
  width: 40%;
  float: left;
  border: #de6835 15px;
}

.descripcion {
  color: #333;
  display: inline flex;
  font-size: 20px;
  padding: 20px;

}

.descripcion1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
}

.texto1  { 
  color: white;
  font-family: 'Saira Condensed', sans-serif;
  padding: 20px; 
  text-align: center;
}

.formulariocontacto {
  margin-left: 20px; 
  width: 100%;
  height: 30px;
  background-color: white;
  border: solid 2px black;
  font-size: 16px;
  text-decoration: bold;
  color: $color-red;
  margin: 3px;
  font-family: 'Saira Condensed', sans-serif;
}

.enviarformulario {
  background-color: $color-red;
  color: black;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  width: 40%;
  height: 45px;
}

.rellenarmail {
  height: 20px;
  background-color: white;
  font-family: 'Saira Condensed', sans-serif;
  color: $color-red; 
}

.enviarmail {
  height: 40px;
  background: linear-gradient(to top, gray, black);
  color: white;
  font-family: 'Saira Condensed', sans-serif, bold;
  font-size: 20PX;
  margin: 4PX;
  border-radius: 10px;
  border-color: gray;
}


.añadiralcarrito {
  font-family: 'Saira Condensed', sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 20px; 
  color: $color-red;
}

/* PIE DE PAGINA*/

.piedepagina {
  clear: left;
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
  size: 12px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

hr {
  color: white;
  width: 100%;
}

